@layout LoginLayout
@page "/login"

<PageTitle>Login</PageTitle>
<div class="d-flex justify-content-center align-items-center" style="height: 634px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="width: 380px">
                <div class="dialog-box" style="width: 347px; height: 338px; background-color: #f4f4f4; border-radius: 12px; border: 0px none #2a2a2c">
                   <RadzenText Text="Login" Style="width: 302px; font-style: normal; text-transform: uppercase; text-decoration: none; font-size: 20px; text-align: center" />
                    <RadzenTemplateForm Action="@($" account/login?redirectUrl={redirectUrl}")" Data=@("login") Method="post">
                        <RadzenAlert Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@errorVisible" Style="font-size: 16px; border-radius: 16px; height: 40px; width: 308px; position: relative">@error</RadzenAlert>
                        <RadzenLogin AllowResetPassword="true" AllowRegister="false" FormFieldVariant="Variant.Outlined" AllowRememberMe="true" RememberMe="false" Visible="true" Style="padding: 25px; width: 100%; height: 240px; font-size: 16px; position: relative" AutoComplete="true" />
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dialog-box {
        background-color: lightgray;
        border-radius: 8px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        max-width: 350px;
    }
</style>
